        
            </div>  <!-- inner-container -->
        </div> <!-- ui-container -->
        <footer class="my-footer">
            <div class="credits">
                <p class="project-name">Drawey</p>
                <p>Created by <a href="#">Somaan Shakeel</a></p>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    </body>
</html>