<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drawey - Whiteboard Collab!</title>
    <link rel="stylesheet" href="css/headerFooter.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


    <script src="js/header.js"></script>
    <script src="https://code.easypz.io/easypz.latest.min.js"></script>

</head>

<body>
    <img id="the-logo" src="/images/logo.png" alt="Logo">
    <div class="ui-container">
        <div class="inner-container">