<%- include('../partials/header.ejs'); %>

<div class="home-div">
    <h2>Draw, Teach, Play in Real-Time</h1>
    <p>Create a new Board, send the invite link to your friends,<br>and start having FUN!</p>
    <a href="/createboard" id="create-board-btn">Create a New Board</a>
    <img src="images/board-img.png" alt="Picture of Whiteboard">
</div>

<%- include('../partials/footer.ejs'); %>