@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-div{
    width: 100%;
    min-height: 100vh;
    padding: 150px 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    font-family: 'Schoolbell', cursive;
    text-shadow: 0 0 20px white;
    h2{
        font-size: 44px;
    }
    p{
        font-size: 26px;
    }
    img{
        width: 97%;
        margin: 60px 10px;
        max-width: 1000px;
        border-radius: 20px;
        box-shadow: 0 0 64px 15px #222222;
    
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#create-board-btn{
    background-color: yellow;
    padding: 10px 15px;
    border: 2px solid black;
    margin: 40px 0 20px 0;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: al 0.3s;
    box-shadow: -3px 3px #252525, -2px 2px #1f1e1e, -1px 1px #000000;
    border: 1px solid black;

    &:hover{
        box-shadow: 0 0 0 black;
        transform: translate(-3px, 3px);
        border-style: inset;
    }
}
