@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board-body{
    overflow: hidden;
    font-family: 'Schoolbell', cursive;
}
#canvas{
    border: 2px solid rgb(58, 58, 58);
    box-shadow: 0 0 10px #222222;
    overflow-x: hidden;
    overflow-y: hidden;
    // cursor:url('/images/black-dot.png'), auto;
}

.buttons-container{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-5px, -50%);
    box-shadow: 0 0 10px #222;
    .panel-btn{
        width: 55px;
        height: 50px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-right: 8px;
        transition: all 0.2s;
        user-select: none;
        &:hover{
            // margin-left: 10px;
            transform: translateX(4px);
            .panel-btn-tags{
                display: inherit;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
        .panel-btn-tags{
            display: none;
            background-color: #fff876;
            -webkit-transform: translateX(25px);
            transform: translateX(25px);
            padding: 3px 6px;
            border-radius: 4px;
            border: 1px solid black;
            -webkit-transition: all 5s;
            transition: all 5s;
            font-size: 20px;
        }
    }
}

#open-controls-btn{
    top: 48%;
    width: 24px;
    height: 70px;
    border-radius: 0;
    padding: 0 0 0 6px;
    justify-content: left;
    right: -4px;
}
.controlPanelBtns{
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px;
    background-color: yellow;
    border: 0px;
    border-radius: 50%;
    box-shadow: -3px 3px #252525, -2px 2px #1f1e1e, -1px 1px #000000;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 0 black;
        transform: translate(-3px, 3px);
    }
}


.right-control-panel{
    height: 100vh;
    max-height: 575px;
    width: 96%;
    max-width: 400px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgb(0, 225, 255);
    position: absolute;
    padding: 47px 20px 0px 20px;
    box-shadow: -3px 3px #252525, -2px 2px #1f1e1e, -1px 1px #000000;
    border: 1px solid black;
    transition: all 0.3s ease-in;
    transform: translate(105%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    .control-panel-headings{
        text-align: center;
    }
    #link-input{
        width: 100%;
        height: 50px;
        border: 3px solid black;
        border-radius: 13px;
        box-shadow: -3px 3px #252525, -2px 2px #1f1e1e, -1px 1px #000000;
        border: 1px solid black;
        padding: 10px 0 10px 15px;
        font-size: 18px;
        font-family: cursive;
        &:focus{
            outline: none;
        }
    }
    #copy-invite-link-btn{
        background-color: yellow;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        margin: 0px 0 30px 0;
        padding: 10px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: 'Schoolbell', cursive;
        transition: al 0.3s;
        border-radius: 13px;
        box-shadow: -3px 3px #252525, -2px 2px #1f1e1e, -1px 1px #000000;
        border: 1px solid black;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 0 black;
            transform: translate(-3px, 3px);
            border-style: inset;
        }
        &:focus{
            -moz-outline-radius: 13px;
        }
        .fa-clipboard{
            margin-right: 5px;
        }
    }
    .control-btn-text{
        margin: 10px 30px 20px 0;
        display: flex;
        align-items: center;
        height: 50px;
        .key-titles{
            font-size: 30px;
            display: inline-block;
            width: 100px;
        }
        .fa-plus{
            margin: 0 10px;
        }
        #zoom-img{
            width: 80px;
            margin-left: 10px;
        }
        #scroll-img{
            width: 40px;
            margin-left: 15px;
        }
        .keyboard-keys{
            display: inline-block;
            text-align: center;
            padding: 5px 0;
            margin: 0 15px;
            width: 50px;
            font-weight: bold;
            box-shadow: -3px 3px #252525, -2px 2px #1f1e1e, -1px 1px #000000;
            border: 1px solid black;
            background-color: #f9bdc8;
        }
    }
}
.slide-out{
    transform: translate(1%, -50%);    //hides from screen
}

.copied-to-clipboard{
    display: none;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    width: 140px;
    height: 50px;
    justify-content: center;  //display: flex will come from JS
    align-items: center;
    background-color: #222222;
    color: white;
    font-size: 20px;
    font-family: 'Schoolbell', cursive;
    z-index: 5;
    transition: all 3s;
}

// .hide-popup{
//     opacity: 0;
//     z-index: -5;
//     box-shadow: 0 0 10px black;
// }

// .vanish-popup{
//     transition: opacity 3s;
//     opacity: 0%;
//     // display: flex;
// }